footer {
  width: 100%;
  height: 70px;
  background: $bg2;
  border-top: 1px solid $light-gray;

  .container {
    display: inline;
    text-align: center;
    color : transparentize($action-color, 0.1);


    ul {
      padding: 15px 0;

      li:last-child {
        font-size: $base-font-size * 0.7;
      }
    }

  }
}