header {
  background: white;
  background: linear-gradient(to left, #67b26f, #4ca2cd);

  @include grid-media($grid-phone1) {
    height: 10em;
    max-height: 10em;
  }

  @include grid-media($grid-desktop1) {
    height: 150em;
    max-height: 15em;
  }

  .container {
    @include grid-container;
  }
}